*, *::before, *::after {
    box-sizing: border-box;
    
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
header {
    padding: 2%;
    background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 35%, rgba(161,239,255,1) 100%);
width: 100%;
    position: absolute;
    top: 0;
    height: 4%;
}

#timerSpan {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 35%, rgba(161,239,255,1) 100%);
    text-align: right;
    top: 0;
    width: 100%;
    position: absolute;
    height: 4%;
    padding: 2%;
    border-bottom-width: 1%;
    border-bottom-color: darkblue;
}

#testBox {
    text-align: center;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 35%, rgba(161,239,255,1) 100%);
    box-sizing: border-box;
    padding: 20px;
}

.hide {
    display: none;
}

.btn {
    --hue: var(--hue-neutral);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    color: wheat;
    padding: 7px 11px;
    
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}
